/* Mui Custom */
/* 공통 */
@font-face {
    src: url('/fonts/main_02.ttf');
    font-family: 'main';
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

#appRoot {
    width: 100%;
    min-height: 90vh;
}

div[id$=Container] {
    width: 100%;
    min-height: 90vh;
    position: relative;
    font-family: 'main', sans-serif;
}

p {
    margin: 0;
}

/* mobile(-768px) */
footer {
    border: 1px solid black;
    width: 100%;
    height: 10vh;
    font-family: 'main', sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .75rem;
}

.sideBarMenuElement {
    text-decoration: none;
}

.createButton {
    position: fixed;
    right: 10%;
    bottom: 5%;
    z-index: 2;
}
