#DetailContainer {
    padding: 1rem;
}

#DetailContainer > p:nth-child(1) {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

#DetailContainer > .detail > .element > .title, #DetailContainer > .detail > .element > .body {
    margin-bottom: 1rem;
    color: #434343;
}

#DetailContainer > .detail > .element {
    margin-bottom: 3rem;
}