#HomeContainer > .header {
    position: relative;
}

#HomeContainer > .header > .background {
    width: 100%;
    height: 20rem;
    background-image: url('/images/home/header_background.jpg');
    background-size: 100% 100%;
    filter: brightness(75%);
}

#HomeContainer > .header > .text {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: white;
}

#HomeContainer > .header > .text > p:nth-child(1) {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#HomeContainer > .header > .text > p:nth-child(2) {
    font-size: .9rem;
}

