#AuthContainer {
    height: 100vh;
}

#AuthContainer > .background {
    width: 100%;
    height: 100%;
    background-image: url('/images/auth/background_02.jpg');
    background-size: 100% 100%;
    filter: brightness(60%) blur(1px);
}

.authType {
    font-family: 'main', sans-serif;
    font-size: 2rem;
}

.authQuestionFore, .authQuestionBack {
    display: inline;
    font-family: 'main', sans-serif;
}

.authQuestionFore {
    /*font-size: 1rem;*/
    color: #434343;
}

.authQuestionBack {
    text-decoration: underline;
    cursor: pointer;
}

.authQuestionBack:hover {
    color: #434343;
}

#logo {
    position: absolute;
    left: 0;
    top: 18%;
    color: white;
    font-size: 3rem;
    width: 100%;
    text-align: center;
    text-shadow: 5px 5px 4px black;
    transition: color 1.5s;
    cursor: pointer;
    text-decoration: none;
}

#logo:hover {
    color: black;
}