#DevNoteContainer > .header > .background{
    width: 100%;
    height: 15.5rem;
    background-image: url('/images/dev_note/header_background.jpg');
    background-size: 100% 100%;
    filter: brightness(60%);
}

#DevNoteContainer > .header {
    position: relative;
}

#DevNoteContainer > .header > .text {
    position: absolute;
    left: 0;
    top: 45%;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 2rem;
}


