#ScheduleContainer > .header {
    position: relative;
}

#ScheduleContainer > .header > .background {
    width: 100%;
    height: 15.5rem;
    background-image: url('/images/schedule/header_background.jpg');
    background-size: 100% 100%;
    filter: brightness(50%);
}

#ScheduleContainer > .header > .text {
    position: absolute;
    left: 0;
    top: 43%;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: white;
}