#NoticeContainer > .header > .background {
    width: 100%;
    height: 15.5rem;
    background-image: url('/images/notice/header_background.jpg');
    background-size: 100% 100%;
    filter: brightness(70%);
}

#NoticeContainer > .header {
    position: relative;
}

#NoticeContainer > .header > .text {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2rem;
}