.info {
    padding: 1rem;
}

.infoElement {
    margin-bottom: 2rem;
}

.infoElement > img {
    width: 100%;
    height: 20rem;
    margin-top: .5rem;
}

.infoElement .title {
    color: #6b6b6b;
    font-size: 1.5rem;
}

.infoElement .content {
    margin-top: .5rem;
}

.infoElement .released {
    border: 1px solid black;
    width: 100%;
    height: 45vh;
    margin-top: .5rem;
}