#AddNewContainer{
    padding: 1rem;
}

#AddNewContainer > .addNewForm > .title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

#AddNewContainer > .addNewForm > .element {
    margin-bottom: 2rem;
}

#AddNewContainer > .addNewForm > .element > .title {
    font-size: 1.3rem;
}